spring.application.name=workforce-management

server.port = 

# PostgreSQL Database Connection
# spring.datasource.url=
spring.datasource.driver
spring.datasource.username=
spring.datasource.password=

#JPA/Hibernate Props    :
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect



# JWT Configuration
# Secret key for signing tokens (should be long and secure in production)
app.jwt-secret=
# Token expiration time in milliseconds (15 minutes = 900000 ms)
app.jwt-expiration-milliseconds=900000
